<!DOCTYPE html>
<html lang=pt-br>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados principais</title>
</head>
<body>
    <div class="containerPri">
        <div class="ldEsq">
            <p>POPULAÇÃO</p>
            <div class="ldEsqInf">
                <p>{{populacaoMk}}</p>
            </div>
        </div>
        <div class="centro">
            <p>RECUPERADOS</p>
            <div class="CentInf">
                <p>{{recuperados}}</p>
            </div>
        </div>
        <div class="ldDir">
            <p>EM ACOMPANHAMENTO</p>
            <div class="ldDirInf">
                <p>{{acompanhamento}}</p>
            </div>
        </div>
    </div>
</body>
</html>
